@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

:root {
  --font-family: "Castoro", serif;

  --cta-highlight-color: #00FFE0;
  --soundcard-color: #B7CAB0;
  --soundcard-color-rgba: rgba(183, 202, 176, .65);
  --soundcard-color-rgba-active: rgba(128, 201, 102, .65);
}

* {
    /* ***DEBUG GHOST */
    /* background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important; */

    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}
