.index__container {
    height: 250vh;
    width: 100vw;
    background-image: url('../../public/assets/img/forest-background.webp');
    background-size: cover;
    z-index: -99;
    background-position: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .index__heroContainer {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
    }

    .index__learnMoreContainer {
        height: 140vh;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .9) 50%, rgba(0, 0, 0, 0) 100%);
    }

    .index__footerContainer {
        position: fixed;
        height: 10vh;
        width: 100%;
    }
}

.index__backgroundTint {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    position: relative;
}

@media screen and (min-width: 750px) {
    .index__backgroundTint {
        .index__learnMoreContainer {
            height: 100vh;
        }
    }

}

@media screen and (min-width: 800px) {
    .index__backgroundTint {
        .index__learnMoreContainer {
            height: 70vh;
        }
    }
}

@media screen and (min-width: 900px) {
    .index__backgroundTint {
        background-color: rgba(0, 0, 0, .8);

        .index__learnMoreContainer {
            height: 70vh;
        }
    }
}