.player__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);

    .player__navbar {
        position: absolute;
        top: 0;
    }

    .player__titleContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex: 1;

        h1 {
            margin-top: 1rem;
            padding: 0 2rem 0 2rem;
            color: #fff;
            font-size: 1.5rem;
            text-align: center;
        }
    }

    .player__soundsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 360px;
        max-height: 1000px;
        min-height: 600px;
        flex: 8;
    }
}

.player__background {
    background-image: url('../../public/assets/img/forest-background.webp');
    background-size: cover;
    z-index: -1;
    background-position: 90%;
    height: 100vh;
    width: 100vw;
}

@media screen and (min-height: 450px) {
    .player__container {
        .player__soundsContainer {
            min-height: 500px;
        }

        .player__navbar {
            position: relative;
        }
    }
}