.soundcard__containerOff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    background-color: var(--soundcard-color-rgba);
    border-radius: 10px;
}

.soundcard__containerOn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    background-color: var(--soundcard-color-rgba-active);
    border-radius: 10px;
}

.soundcard__button {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
}

.soundcard__volumeBar {
  -webkit-appearance: none;
  width: 70%;
  height: 4px;
  border-radius: 5px;
  background-color: #1a1a1a;
  margin-bottom: .6rem;
}

.soundcard__volumeBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #1a1a1a;
  cursor: pointer;
}

.soundcard__volumeBar::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
